{% extends 'all-award/base.html'%} {% load bootstrap4 %} {% load static %} {% block content %} {{block.super}}

<div class="container-fluid" style="padding-right: 800px">

    <form action="{%url 'welcome'%}" method="post">
        {%csrf_token%} {% bootstrap_form letterForm layout='inline' %}
        <input type="submit" value="Subscribe">
    </form>

</div>
<div class="container-fluid" style="font-size:300%" ;></div>
<!-- displaying images -->
<div class="row">
    {% for projects in award %}

    <div class="col-md-3">
        <!-- modal button-->
        <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#myModal{{post.id}}">
            <img src="{{projects.image.url }}" alt="" width="250" height="250">
        </button>
        <br>
        <!-- modal -->
    </div>
    {% endfor %}
</div>
</div>
{% for projects in award %}
<!-- modal content -->
<div class="modal fade" id="myModal{{post.id}}" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h2>{{ projects.name }}</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <img src="{{projects.image.url }}" alt="" width="500" height="500">
                <h4 class="modal-title">{{ projects.description }}</h4>
            </div>

        </div>
    </div>
</div>
{% endfor %} {% endblock %}
            <div class="card">
<a href="/profile/{{project.profile.id}}" title="profile">
    <img src="{{project.profile.profile_photo.url}}" class="card-object" style="height: 100px;
width: 100px;">
    <button class="button">
        <a href="{{ project.project_link }}" target="_blank">view site</a>
    </button>
</a>                <h1>Theo tash</h1>
                <p class="title">Software developer</p>
                <p>Moringa School</p>
                <a href="#">
                    <i class="fa fa-dribble"></i>
                </a>
                <a href="#">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="#">
                    <i class="fa fa-facebook"></i>
                </a>
                <p>
                    <button>Contact</button>
                </p>
            </div>
        </div>
