{% extends 'all-award/base.html' %} {% block content %}
<div class="container">
    <div class="col-md-4" id="dp">
        <img width="100px" height="100px" src=" {{ profile.profile_pic.url }} " alt="">
    </div>
    {% endif %}
    
    <ul class="list-inline">
    
        <li class="list-inline-item" id="name">
            <span>{{profiles.username}}</span>
        </li>
        {% if profiles.username == user.username %}
        <!-- <li class="list-inline-item">
            <a href="/logout">
                <button>Log out</button>
            </a>
        </li> -->
        <div class="col-md-9 col-sm-9">
            <div class="card container-fluid" style="border:hidden;">
                <div class="card-body">
                    <p>{{prof.bio}}</p>
                </div>
            </div>
        </div>

    </div>
    {% endfor %}
    <div class="row">
        <div class="col-md-5 col-sm-5 col-lg-5"></div>
        <div class="col-md-2 col-sm-2 col-lg-2">
            <a href="{% url 'new_project' %}" class="btn btn-md btn-info">Add Project</a>
        </div>
        <div class="col-md-5 col-sm-5 col-lg-5"></div>
    </div>
    <div class="row">
        {% for proj in project%}
        <div class="column-md-4" style="float:left; width:33.33%;margin:5px;">
            <a href="#" class="card" style="height:450px;color:black;text-decoration:none;">
                <img src="{{proj.welcome.url}}" alt="project">
                <div class="card-body">
                    <p>
                        <b>Title:</b>{{project.title}}
                    </p>
                </div>
            </a>
        </div>
        {% endfor %} {% else %}
        <div class="row">
            <div class="col-md-5 col-sm-5 col-lg-5"></div>
            <div class="col-md-2 col-sm-2 col-lg-2">
                <a href="{% url 'new_profile' %}" class="btn btn-md btn-info">Add Profile</a>
            </div>
            <div class="col-md-5 col-sm-5 col-lg-5"></div>
        </div>
        {% endif %} 
     </div>
</div>
{% endblock %}